<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://apps.axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://apps.axelor.com/xml/ns/object-views http://apps.axelor.com/xml/ns/object-views/object-views_0.9.xsd">

  <!-- VIEW -->
  <grid name="server-grid" title="Servers">
  	<hilite if="!active" color="danger"/>
  	<hilite if="$moment() &lt;= expiryDate"/>
    <field name="hostName" />
    <field name="inetAddress" />
    <field name="serverType" />
    <field name="host" />
    <field name="active" />
    <field name="virtual" />
    <field name="expiryDate" />
  </grid>

  <form name="server-form" title="Server" cols="6" onSave="action-server-method-is-reachable" onNew="action-server-attrs-default-members">
    <field name="inetAddress" onChange="action-server-record-get-host-name"/>
    <field name="hostName" />
	<field name="active" />
    <notebook colSpan="6">
    	<page title="Information" cols="4">
    		<separator title="Host" colSpan="4"/>
   			<field name="host" grid-view="partner-grid" form-view="partner-form" />
    		<field name="expiryDate" />
    		<separator title="Technical" colSpan="4"/>
    		<field name="serverType" />
    		<field name="operatingSystem" domain=":serverType MEMBER OF self.serverTypes" />
    		<field name="virtual" />
    		<field name="hardware" showIf="virtual" requiredIf="virtual" domain="self != :__this__"/>
    	</page>
    	<page title="Domains" cols="4">
    		<field name="domains" colSpan="4" grid-view="server-domain-grid" form-view="server-domain-form"/>
    	</page>
    	<page title="Accounts" cols="4">
    		<field name="accounts" colSpan="4" grid-view="server-server-account-grid" form-view="server-server-account-form"/>
    	</page>
    	<page title="Applications" cols="4">
    		<field name="applications" colSpan="4" grid-view="server-server-application-grid" form-view="server-server-application-form"/>
    	</page>
    	<page title="Description">
    		<field name="description" widget="html" showTitle="false" colSpan="4" />
    	</page>
    	<page title="Members" cols="4">
    		<field name="members" colSpan="4" grid-view="user-info-grid" form-view="user-info-form"/>
    	</page>
    </notebook>
  </form>
  
  <grid name="server-server-account-grid" title="Accounts" editable="true">
    <field name="partner" grid-view="partner-grid" form-view="partner-form" />
    <field name="login" />
    <field name="password" />
  </grid>

  <form name="server-server-account-form" title="Account" cols="4">
    <field name="partner" grid-view="partner-grid" form-view="partner-form" />
    <break/>
    <field name="login" />
    <field name="password" />
  </form>
  
  <grid name="server-domain-grid" title="Domains" editable="true">
    <field name="alias" />
  </grid>

  <form name="server-domain-form" title="Domain" cols="4">
    <field name="alias" />
  </form>
  
  <grid name="server-server-application-grid" title="Applications" >
    <field name="partner" />
    <field name="name" />
  	<field name="url" widget="url" />
  </grid>

  <form name="server-server-application-form" title="Application" cols="4">
    <field name="partner" grid-view="partner-grid" form-view="partner-form" />
    <field name="name" />
  	<field name="domain" domain="self.server = :server" />
  	<field name="context" />
  	<field name="port" />
  	<field name="usePortInUrl" />
  	<field name="url" widget="url" colSpan="4"/>
    <separator colSpan="4" title="Informations"/>
    <field name="information" showTitle="false" colSpan="4" widget="html" />
  </form>

  <!-- MENU -->
  <menuitem name="menu-server" title="Servers" action="action-view-server" parent="menu-network-root" priority="100" />

  <action-view name="action-view-server" title="Servers" model="com.axelor.apps.network.db.Server" icon="img/16px/folder-network.png">
  	  <view type="grid" name="server-grid"/>
  	  <view type="form" name="server-form"/>
  	  <!-- <domain>CAST(:_user AS UserInfo) MEMBER OF self.members</domain>
  	  <context name="_user" expr="call: com.axelor.apps.base.service.user.UserInfoService:getUserInfo()"/> -->
  </action-view>
  
  <!-- ACTION METHOD -->
  <action-method name="action-server-method-is-reachable">
  	<call class="com.axelor.network.web.ServerController" method="isReachable"/>
  </action-method>
  
  <action-record name="action-server-record-get-host-name" model="com.axelor.apps.network.db.Server">
  	<field name="hostName" expr="call: com.axelor.network.service.ServerService:getHostName(__this__)"/>
  </action-record>
  
  <action-attrs name="action-server-attrs-default-members">
  	<attribute for="members" name="value:add" expr="eval: com.axelor.apps.base.db.UserInfo.filter(&quot;self.internalUser.group.code IN ('admins','network-admins')&quot;).fetch()" />
  </action-attrs>
    
</object-views>
