<?xml version="1.0" encoding="UTF-8"?>
<domain-models xmlns="http://apps.axelor.com/xml/ns/domain-models"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://apps.axelor.com/xml/ns/domain-models http://apps.axelor.com/xml/ns/domain-models/domain-models_0.9.xsd">

  <module name="network" package="com.axelor.apps.network.db" />

  <entity name="Server">
  	<string name="hostName" namecolumn="true" required="true"/>
  	<string name="inetAddress" title="IP" required="true"/>
  	<many-to-one name="host" ref="com.axelor.apps.base.db.Partner" title="Host" required="true" />
  	<many-to-one name="serverType" ref="com.axelor.apps.network.db.ServerType" required="true" />
  	<many-to-one name="operatingSystem" ref="com.axelor.apps.network.db.OperatingSystem" required="true" />
  	<one-to-many name="domains" ref="com.axelor.apps.network.db.Domain" mappedBy="server"/>
  	<one-to-many name="applications" ref="com.axelor.apps.network.db.ServerApplication" mappedBy="server"/>
  	<one-to-many name="accounts" ref="com.axelor.apps.network.db.ServerAccount" mappedBy="server"/>
  	<boolean name="active" default="false"/>
  	<boolean name="virtual" default="false"/>
  	<many-to-one name="hardware" ref="com.axelor.apps.network.db.Server" title="Hardware" />
  	<string name="description" large="true" />
  	<date name="expiryDate" />
  	<many-to-many name="members" ref="com.axelor.apps.base.db.UserInfo"/>
  </entity>

</domain-models>
